article {
    background-color: #fff;
    border-top: 4px solid #00c;
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 1);
    margin-bottom: 50px;
    padding: 20px;
}

p.entry-subheading {
    color: #999;
    font-style: italic;
    margin: -10px 0 20px 0;
}

p.entry-meta {
    color: #999;
    margin: 25px 0 0 0;
}

h2.entry-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 130%;
    margin: 0 0 15px 0;
}

h2.entry-title a,
h2.entry-title a:active,
h2.entry-title a:visited,
h2.entry-title a:hover {
    color: #333;
    text-decoration: none;
}

div.pagination a {
    border: 1px solid #efefef;
    margin-right: 20px;
}

img.thin-border {
    border: 1px solid #efefef;
    padding: 5px;
}

img.alignright {
    float: right;
    margin: 0 0 30px 30px;
}
img.alignleft {
    float: left;
    margin: 0 30px 30px 0;
}

div.entry-contents blockquote p {
    color: #777;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 12px !important;
}
