article.entry {
    margin-bottom: 20px;
}

div.entry-meta {
    color: #999;
}

    div.entry-meta h3 {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1px;
        margin-top: 25px;
        text-transform: uppercase;
    }

    div.entry-meta p.entry-author {
        margin-bottom: 0;
    }

h2.entry-title {
    border-bottom: 2px dotted #efefef;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 10px 0 5px 0;
}

h2.entry-title a,
h2.entry-title a:active,
h2.entry-title a:visited,
h2.entry-title a:hover {
    color: #333;
    text-decoration: none;
}

div.pagination a {
    border: 1px solid #efefef;
    margin-right: 20px;
}

img.thin-border {
    border: 1px solid #efefef;
    padding: 5px;
}

img.alignright {
    float: right;
    margin: 0 0 30px 30px;
}
img.alignleft {
    float: left;
    margin: 0 30px 30px 0;
}

div.entry-contents blockquote p {
    color: #777;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 12px !important;
}
